.right {
    position: absolute;
    right: 3px;
    top: 30px;
    width: 325px;
    height: 250px;
    border: 3px solid red;
    padding-top: 10px;
    overflow-y: scroll;
}
#connect-message {
  position: absolute;
  top: 0px;
  right: 3px;
  border: 3px solid purple;
}

.commands {
  position: absolute;
  top: 0px;
  width: calc(100% - 350px);
  border: 3px solid orange;
}

.legend {
  position: absolute;
  bottom: 110px;
  right: 3px;
  width: 325px;
  height: 80px;
  border: 3px solid blue;
}

.chart {
  position: absolute;
  top: 30px;
  left: 3px;
  width: calc(100% - 350px);
  height: calc(100% - 150px);
  border: 3px solid grey;
}

.buttons {
  position: absolute;
  border: 3px solid #73AD21;
  bottom: 80px;
  left: 3px;
}

.bottomleft {
    position: absolute;
    bottom: 3px;
    left: 3px;
    border: 3px solid lightpink;
}